.materiales {
  display: grid;
  grid-template-areas:
    "nav nav "
    "dashboard cont "
    "dashboard cont ";
  grid-template-rows: 50px auto;
  grid-template-columns: 150px auto;
  height: 100vh;
}
.dashboard {
  background-color: #ecedee;
}
.add {
  margin-bottom: 10px;
  margin-top: 16px;
}
.materialesitem {
  text-align: left; /* Alinea el texto a la derecha */
  color: #333; /* Color del texto */
  font-size: 14px;
}
.productos {
  display: flex; /* Cambia a flexbox */
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: flex-start; /* Alinea los elementos al inicio verticalmente */
  background-color: #ebedf0; /* Fondo claro */
  margin: 20px auto; /* Centra horizontalmente con margen */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  overflow-y: auto; /* Habilita scroll si hay muchos elementos */
  max-height: 70vh; /* Limita la altura máxima */
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
}
.materialeslist {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 10px;
  width: 99%;
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.pinturalist {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  gap: 10px;
  width: 99%;
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.cabezeraPintura {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  gap: 12px;
  width: 91%;
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 68px;
  font-weight: bold;
  text-align: center;
  background-color: #7c8a97;
  padding: 10px;
}
.materialesitemrig {
  text-align: right;
  padding-right: 6px;
  color: black;
}
.materialesitemlef {
  text-align: right;
  color: black;
}
.cont {
  background-color: #294763;
  height: 93vh;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 20px;
}
.cabezera {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 10px;
  width: 91%;
  padding: 10px;
  margin-left: 67px;
  background-color: #7c8a97;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.margin-left {
  margin-left: 12px;
}
.nombre-cabezera {
  font-size: 16px;
}
.nombre-cabezera-right {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.warning {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
