.nave-plano {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 16px;
}

.plano {
  display: grid;
  grid-template-areas:
    "proceso acabado laser"
    "almacen-pintura almacen-productos zinc";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px 120px;
  gap: 16px;
  margin-top: 32px;
  background: #f5f5f5;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 8px #0001;
  padding: 8px;
}

.zona {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid #333;
  border-radius: 8px;
  background: #fff;
}

.pro {
  grid-area: proceso;
  background: #ffe0b2;
}
.laser {
  grid-area: laser;
  background: #bbdefb;
}
.acabado {
  grid-area: acabado;
  background: #c8e6c9;
}
.almacen-pintura {
  grid-area: almacen-pintura;
  background: #f8bbd0;
  padding: 4px;
}
.almacen-productos {
  grid-area: almacen-productos;
  background: #d7ccc8;
  padding: 4px;
}

.zinc {
  grid-area: zinc;
  background: #817e78e3;
}
.lista-prioridades {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
