.RAL-1000 {
  background-color: #C5BB8A;;
}
.RAL-1001 {
  background-color: #C6B286;;
}
.RAL-1002 {
  background-color: #C7AE72;;
}
.RAL-1003 {
  background-color: #E6B019;;
}
.RAL-1004 {
  background-color: #D2A40E;;
}
.RAL-1005 {
  background-color: #BC9611;;
}
.RAL-1006 {
  background-color: #CF9804;;
}
.RAL-1007 {
  background-color: #D49300;;
}
.RAL-1011 {
  background-color: #A38454;;
}
.RAL-1012 {
  background-color: #CFB539;;
}
.RAL-1013 {
  background-color: #DFDBC7;;
}
.RAL-1014 {
  background-color: #D4C79C;;
}
.RAL-1015 {
  background-color: #DED3B6;;
}
.RAL-1016 {
  background-color: #E8E253;;
}
.RAL-1017 {
  background-color: #E4AF56;;
}
.RAL-1018 {
  background-color: #EBD346;;
}
.RAL-1019 {
  background-color: #9C917B;;
}
.RAL-1020 {
  background-color: #999167;;
}
.RAL-1021 {
  background-color: #E5C000;;
}
.RAL-1023 {
  background-color: #E6BE05;;
}
.RAL-1024 {
  background-color: #AD9451;;
}
.RAL-1026 {
  background-color: #FFFF00;;
}
.RAL-1027 {
  background-color: #998420;;
}
.RAL-1028 {
  background-color: #F2A500;;
}
.RAL-1032 {
  background-color: #CFA81E;;
}
.RAL-1033 {
  background-color: #E4A02D;;
}
.RAL-1034 {
  background-color: #D9A156;;
}
.RAL-1035 {
  background-color: #898271;;
}
.RAL-1036 {
  background-color: #746341;;
}
.RAL-1037 {
  background-color: #DB9A17;;
}
.RAL-2000 {
  background-color: #C7750F;;
}
.RAL-2001 {
  background-color: #A74D23;;
}
.RAL-2002 {
  background-color: #AC3721;;
}
.RAL-2003 {
  background-color: #E17C30;;
}
.RAL-2004 {
  background-color: #CC5608;;
}
.RAL-2005 {
  background-color: #FF4612;;
}
.RAL-2007 {
  background-color: #FFAD19;;
}
.RAL-2008 {
  background-color: #F3752C;;
}
.RAL-2009 {
  background-color: #C9560D;;
}
.RAL-2010 {
  background-color: #BC602D;;
}
.RAL-2011 {
  background-color: #CF7421;;
}
.RAL-2012 {
  background-color: #C2674F;;
}
.RAL-2013 {
  background-color: #824128;;
}
.RAL-2017 {
  background-color: #DC5B00;;
}
.RAL-3000 {
  background-color: #962A27;;
}
.RAL-3001 {
  background-color: #8F1E24;;
}
.RAL-3002 {
  background-color: #8D1F24;;
}
.RAL-3003 {
  background-color: #7C0D24;;
}
.RAL-3004 {
  background-color: #651927;;
}
.RAL-3005 {
  background-color: #561E27;;
}
.RAL-3007 {
  background-color: #3D2326;;
}
.RAL-3009 {
  background-color: #643730;;
}
.RAL-3011 {
  background-color: #6E2124;;
}
.RAL-3012 {
  background-color: #B7856E;;
}
.RAL-3013 {
  background-color: #8A2F28;;
}
.RAL-3014 {
  background-color: #BC6F72;;
}
.RAL-3015 {
  background-color: #CC9EA4;;
}
.RAL-3016 {
  background-color: #963D2F;;
}
.RAL-3017 {
  background-color: #B9535B;;
}
.RAL-3018 {
  background-color: #B63C49;;
}
.RAL-3020 {
  background-color: #AB1519;;
}
.RAL-3022 {
  background-color: #BE6954;;
}
.RAL-3024 {
  background-color: #EE1729;;
}
.RAL-3026 {
  background-color: #F71027;;
}
.RAL-3027 {
  background-color: #9E1B3C;;
}
.RAL-3028 {
  background-color: #B92726;;
}
.RAL-3031 {
  background-color: #973238;;
}
.RAL-3032 {
  background-color: #661925;;
}
.RAL-3033 {
  background-color: #94352D;;
}
.RAL-4001 {
  background-color: #7C5B80;;
}
.RAL-4002 {
  background-color: #823A4B;;
}
.RAL-4003 {
  background-color: #B65A88;;
}
.RAL-4004 {
  background-color: #5F1837;;
}
.RAL-4005 {
  background-color: #746395;;
}
.RAL-4006 {
  background-color: #852E6F;;
}
.RAL-4007 {
  background-color: #44263C;;
}
.RAL-4008 {
  background-color: #7C477D;;
}
.RAL-4009 {
  background-color: #95838F;;
}
.RAL-4010 {
  background-color: #AC3B71;;
}
.RAL-4011 {
  background-color: #685C80;;
}
.RAL-4012 {
  background-color: #67657A;;
}
.RAL-5000 {
  background-color: #35496B;;
}
.RAL-5001 {
  background-color: #294763;;
}
.RAL-5002 {
  background-color: #193278;;
}
.RAL-5003 {
  background-color: #203151;;
}
.RAL-5004 {
  background-color: #1E222C;;
}
.RAL-5005 {
  background-color: #134A85;;
}
.RAL-5007 {
  background-color: #466589;;
}
.RAL-5008 {
  background-color: #2F3A44;;
}
.RAL-5009 {
  background-color: #365875;;
}
.RAL-5010 {
  background-color: #0E457A;;
}
.RAL-5011 {
  background-color: #222C3E;;
}
.RAL-5012 {
  background-color: #457FB3;;
}
.RAL-5013 {
  background-color: #212F51;;
}
.RAL-5014 {
  background-color: #667691;;
}
.RAL-5015 {
  background-color: #3172AD;;
}
.RAL-5017 {
  background-color: #0F518A;;
}
.RAL-5018 {
  background-color: #47848D;;
}
.RAL-5019 {
  background-color: #265682;;
}
.RAL-5020 {
  background-color: #113E4D;;
}
.RAL-5021 {
  background-color: #216D76;;
}
.RAL-5022 {
  background-color: #282C58;;
}
.RAL-5023 {
  background-color: #4D648A;;
}
.RAL-5024 {
  background-color: #6C8DAA;;
}
.RAL-5025 {
  background-color: #3C6379;;
}
.RAL-5026 {
  background-color: #1B2B4D;;
}
.RAL-6000 {
  background-color: #4A7363;;
}
.RAL-6001 {
  background-color: #40693A;;
}
.RAL-6002 {
  background-color: #3B5B2F;;
}
.RAL-6003 {
  background-color: #4F553E;;
}
.RAL-6004 {
  background-color: #214245;;
}
.RAL-6005 {
  background-color: #234235;;
}
.RAL-6006 {
  background-color: #3C3D32;;
}
.RAL-6007 {
  background-color: #2E3526;;
}
.RAL-6008 {
  background-color: #333327;;
}
.RAL-6009 {
  background-color: #2A372C;;
}
.RAL-6010 {
  background-color: #4E6E39;;
}
.RAL-6011 {
  background-color: #6A7C5B;;
}
.RAL-6012 {
  background-color: #2F3B39;;
}
.RAL-6013 {
  background-color: #777659;;
}
.RAL-6014 {
  background-color: #454339;;
}
.RAL-6015 {
  background-color: #3C3F38;;
}
.RAL-6016 {
  background-color: #256753;;
}
.RAL-6017 {
  background-color: #5C8144;;
}
.RAL-6018 {
  background-color: #689A45;;
}
.RAL-6019 {
  background-color: #B8CFAD;;
}
.RAL-6020 {
  background-color: #3B4634;;
}
.RAL-6021 {
  background-color: #899B79;;
}
.RAL-6022 {
  background-color: #3B382E;;
}
.RAL-6024 {
  background-color: #3A8258;;
}
.RAL-6025 {
  background-color: #5D703E;;
}
.RAL-6026 {
  background-color: #0D5951;;
}
.RAL-6027 {
  background-color: #88B5B3;;
}
.RAL-6028 {
  background-color: #3D5547;;
}
.RAL-6029 {
  background-color: #226C45;;
}
.RAL-6032 {
  background-color: #417E57;;
}
.RAL-6033 {
  background-color: #568480;;
}
.RAL-6034 {
  background-color: #86A9AD;;
}
.RAL-6035 {
  background-color: #2E4F31;;
}
.RAL-6036 {
  background-color: #27514A;;
}
.RAL-6037 {
  background-color: #3F8C3D;;
}
.RAL-6038 {
  background-color: #20A339;;
}
.RAL-7000 {
  background-color: #7B858D;;
}
.RAL-7001 {
  background-color: #8B949B;;
}
.RAL-7002 {
  background-color: #7D7965;;
}
.RAL-7003 {
  background-color: #76776A;;
}
.RAL-7004 {
  background-color: #969799;;
}
.RAL-7005 {
  background-color: #696D6B;;
}
.RAL-7006 {
  background-color: #716C60;;
}
.RAL-7008 {
  background-color: #6C6040;;
}
.RAL-7009 {
  background-color: #5B6058;;
}
.RAL-7010 {
  background-color: #575B57;;
}
.RAL-7011 {
  background-color: #535A5E;;
}
.RAL-7012 {
  background-color: #595E60;;
}
.RAL-7013 {
  background-color: #545146;;
}
.RAL-7015 {
  background-color: #51535A;;
}
.RAL-7016 {
  background-color: #3B4044;;
}
.RAL-7021 {
  background-color: #323537;;
}
.RAL-7022 {
  background-color: #4C4C47;;
}
.RAL-7023 {
  background-color: #7D7F76;;
}
.RAL-7024 {
  background-color: #45494E;;
}
.RAL-7026 {
  background-color: #394345;;
}
.RAL-7030 {
  background-color: #8C8C83;;
}
.RAL-7031 {
  background-color: #5D676D;;
}
.RAL-7032 {
  background-color: #B1B1A1;;
}
.RAL-7033 {
  background-color: #7C8273;;
}
.RAL-7034 {
  background-color: #8C8870;;
}
.RAL-7035 {
  background-color: #C2C6C3;;
}
.RAL-7036 {
  background-color: #949292;;
}
.RAL-7037 {
  background-color: #797B7B;;
}
.RAL-7038 {
  background-color: #ADB0A9;;
}
.RAL-7039 {
  background-color: #68675F;;
}
.RAL-7040 {
  background-color: #969CA1;;
}
.RAL-7042 {
  background-color: #8C9190;;
}
.RAL-7043 {
  background-color: #4F5352;;
}
.RAL-7044 {
  background-color: #B3B2A9;;
}
.RAL-7045 {
  background-color: #8C9094;;
}
.RAL-7046 {
  background-color: #7C8287;;
}
.RAL-7047 {
  background-color: #C5C5C5;;
}
.RAL-7048 {
  background-color: #7A7871;;
}
.RAL-8000 {
  background-color: #816D44;;
}
.RAL-8001 {
  background-color: #8F6833;;
}
.RAL-8002 {
  background-color: #704F40;;
}
.RAL-8003 {
  background-color: #74502F;;
}
.RAL-8004 {
  background-color: #814D37;;
}
.RAL-8007 {
  background-color: #67492F;;
}
.RAL-8008 {
  background-color: #694F2B;;
}
.RAL-8011 {
  background-color: #533A29;;
}
.RAL-8012 {
  background-color: #5C3128;;
}
.RAL-8014 {
  background-color: #453729;;
}
.RAL-8015 {
  background-color: #57332B;;
}
.RAL-8016 {
  background-color: #483026;;
}
.RAL-8017 {
  background-color: #42332E;;
}
.RAL-8019 {
  background-color: #3B3736;;
}
.RAL-8022 {
  background-color: #201F20;;
}
.RAL-8023 {
  background-color: #965D33;;
}
.RAL-8024 {
  background-color: #6F543C;;
}
.RAL-8025 {
  background-color: #6E5B4B;;
}
.RAL-8028 {
  background-color: #4C3E30;;
}
.RAL-8029 {
  background-color: #764537;;
}
.RAL-9001 {
  background-color: #E5E1D4;;
}
.RAL-9002 {
  background-color: #D4D5CD;;
}
.RAL-9003 {
  background-color: #EBECEA;;
}
.RAL-9004 {
  background-color: #2F3133;;
}
.RAL-9005 {
  background-color: #131516;;
}
.RAL-9006 {
  background-color: #9A9D9D;;
}
.RAL-9007 {
  background-color: #828280;;
}
.RAL-9010 {
  background-color: #EFEEE5;;
}
.RAL-9011 {
  background-color: #25282A;;
}
.RAL-9012 {
  background-color: #F2F1E1;;
}
.RAL-9016 {
  background-color: #EFF0EB;;
}
.RAL-9017 {
  background-color: #262625;;
}
.RAL-9018 {
  background-color: #C6CBC6;;
}
.RAL-9022 {
  background-color: #818382;;
}
.RAL-9023 {
  background-color: #767779;;
}
